# Markdown Comparison Test Results
Test folder: TP-MVD8MV2-rotated
## Results by File
### TP-MVD8MV2-rotated_extracted_openai_gpt-4o.md
- Match percentage: 93.36%
- Missed words:
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - (3840*2160)@20fps
  - ✓
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - ... and 27 more

### TP-MVD8MV2-rotated_extracted_llama.md
- Match percentage: 95.69%
- Missed words:
  - twilightvisiontm
  - twilightvisiontm
  - technology
  - superior
  - low-light
  - >56db
  - (ø5.1"
  - 4.3")
  - stream:
  - stream:
  - ... and 14 more

### TP-MVD8MV2-rotated_extracted_anthropic_no_chunking.md
- Match percentage: 97.49%
- Missed words:
  - twilightvisiontm
  - twilightvisiontm
  - flip
  - hlc
  - normal/vertical/horizontal/180°/90°clockwise/90°anti-
  - clockwise
  - white
  - balance
  - dewarping
  - image
  - ... and 4 more

### TP-MVD8MV2-rotated_extracted_anthropic.md
- Match percentage: 99.64%
- Missed words:
  - twilightvisiontm
  - twilightvisiontm

### TP-MVD8MV2-rotated_extracted_openai_gpt-4-vision-preview.md
- Match percentage: 93.90%
- Missed words:
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - (3840*2160)@20fps
  - ✓
  - twilightvisiontm
  - superior
  - low-light
  - performance
  - ... and 24 more

### TP-MVD8MV2-rotated_extracted_openai_gpt-4o-2024-11-20.md
- Match percentage: 94.97%
- Missed words:
  - twilightvisiontm
  - ✓
  - used
  - cloud
  - ✓
  - ✓
  - (3840*2160)@20fps
  - ✓
  - twilightvisiontm
  - ✓
  - ... and 18 more

### TP-MVD8MV2-rotated_extracted_openai_gpt-4o-mini.md
- Match percentage: 87.61%
- Missed words:
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - (3840*2160)@20fps
  - ✓
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - ... and 59 more

