# include relevant gitignore files
.env
myenv

# pycache
__pycache__/
*.pyc

# Previous entries
test-pdfs/7228422
test-pdfs/7228422-retest
test-pdfs/c4611_sample_explain
test-pdfs/Care_Team_Manual
test-pdfs/Chiam.WeeHung.ThriveMap
test-pdfs/distribution_tables_normal_studentt_chisquared
test-pdfs/EditingTagsToFixComplexTables
test-pdfs/Insta360BikeSeatRailMount
test-pdfs/InstructionsCreatePDFofE-VerifyManual
test-pdfs/test_pdf_for_parsing_no_flowchart_no_images
test-pdfs/ThriveMapExampleSlide1
test-pdfs/Underwriting Memo

test-pdfs/axesPDF_Guide_EN_Table-Tool_V23-01-12
test-pdfs/LoremIpsum
test-pdfs/OktaSSOIntegrationManual101823
test-pdfs/TP-MVD8MV2
test-pdfs/TP-MVD8MV2-rotated
test-pdfs/可灵AI国内QA