# Markdown Comparison Test Results
Test folder: axesPDF_Guide_EN_Table-Tool_V23-01-12
## Results by File
### axesPDF_Guide_EN_Table-Tool_V23-01-12_extracted_anthropic_chunking.md
- Match percentage: 99.95%
- Missed words:
  - cells.1

### axesPDF_Guide_EN_Table-Tool_V23-01-12_extracted_openai_gpt-4o.md
- Match percentage: 99.24%
- Missed words:
  - ■
  - properties.
  - bar,
  - ■
  - ■
  - ■
  - ■
  - ■
  - ■
  - ■
  - ... and 4 more

### axesPDF_Guide_EN_Table-Tool_V23-01-12_extracted_openai_gpt-4o-2024-11-20_v5.md
- Match percentage: 98.53%
- Missed words:
  - "room",
  - rooms",
  - rooms",
  - ■
  - concepts:
  - indicates,
  - indicates,
  - colour
  - indicate,
  - 13
  - ... and 17 more

### axesPDF_Guide_EN_Table-Tool_V23-01-12_extracted_text.md
- Match percentage: 100.00%

