# Markdown Comparison Test Results
Test folder: TP-MVD8MV2
## Results by File
### TP-MVD8MV2_extracted_text.md
- Match percentage: 98.20%
- Missed words:
  - twilightvisiontm
  - twilightvisiontm
  - (ø5.1"
  - 4.3")
  - (4.3")
  - (9")
  - (22)"
  - (5.1")
  - (4.2")
  - (0.2")

### TP-MVD8MV2_extracted_llama.md
- Match percentage: 94.08%
- Missed words:
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - ✓
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - ✓
  - ... and 23 more

### TP-MVD8MV2_extracted_openai_gpt-4o-mini.md
- Match percentage: 89.59%
- Missed words:
  - twilightvisiontm
  - twilightvisiontm
  - (o)
  - defog
  - 107.4°~
  - 111.0°~33.1°
  - 1/100000s
  - defog
  - web
  - browser
  - ... and 48 more

### TP-MVD8MV2_extracted_openai_gpt-4-vision-preview.md
- Match percentage: 93.90%
- Missed words:
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - ✓
  - twilightvisiontm
  - ✓
  - ✓
  - ✓
  - ✓
  - ... and 24 more

### TP-MVD8MV2_extracted_openai_gpt-4o-2024-11-20_v4.md
- Match percentage: 96.77%
- Missed words:
  - twilightvisiontm
  - twilightvisiontm
  - 107.4°~
  - 111.0°~33.1°
  - (ø5.1"
  - 4.3")
  - 54.2°~
  - 20fps;5mp
  - max30fps;
  - 30fps;720p
  - ... and 8 more

### TP-MVD8MV2_extracted_openai_gpt-4o-2024-11-20_v5.md
- Match percentage: 84.92%
- Missed words:
  - twilightvisiontm
  - (3840*2160)@20fps
  - twilightvisiontm
  - 107.4°~
  - 111.0°~33.1°
  - flip
  - hlc
  - 54.2°~
  - pan:
  - tilt:
  - ... and 74 more

### TP-MVD8MV2_extracted_openai_gpt-4o.md
- Match percentage: 96.23%
- Missed words:
  - twilightvisiontm
  - (3840*2160)@20fps
  - twilightvisiontm
  - 107.4°~
  - 111.0°~33.1°
  - tr-mr(p)
  - φ129
  - 54.2°~
  - (profile
  - t),
  - ... and 11 more

