# Markdown Comparison Test Results
Test folder: LoremIpsum
## Results by File
### LoremIpsum_extracted_text.md
- Match percentage: 100.00%

### LoremIpsum_extracted_openai_gpt-4o.md
- Match percentage: 100.00%

### LoremIpsum_extracted_llama.md
- Match percentage: 100.00%

